nav{
    display: flex;
    background-color: #ffde59;
}

/* Trabajando el logo*/
nav a{
    padding: 10px;
    flex: 20%;
    display: flex;
    flex-wrap: wrap;
}
nav a, nav a img{
    height: 75px;
    margin: 0;
    justify-content: center;
    align-items: center;
}

/*Trabajando links botones*/
nav ul{
    display: flex;
    flex: 80%;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    flex-wrap: nowrap;
}
nav ul li{
    flex-grow: 1;
    flex-wrap: nowrap;
}
nav ul li a{
    text-decoration: none;
    text-align: center;
    height: 100%; 
    font-size: 1.5em; 
    padding: 0;
    color: black;
    font-family:"Luckiest Guy",cursive;
    
    
}

nav ul li a:hover{
    background-color: rgb(78, 18, 18);
    color: white;
    
}

