@import url(Nav.css);

body{
    padding: 0;
    margin: 0;
}
.luckiest-guy-regular {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
  }
  


@media screen and (max-width: 722px){
    nav{
        display: flex;
        flex-direction: column;
        background-color: #ffde59;
    }
    

}
@media screen and (max-width: 458px){
    nav ul{
        flex-direction: column;
        flex-wrap: wrap;
    }
}